<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<title>XPTO Systems - install</title>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<div class="container">
			<div class="row mt-2">
				<h3>XPTO Systems Installation program</h3>
				<p>
					Esta é uma interface básica para iniciação.<br>
					O botão abaixo carrega o conteúdo do arquivo .csv para o banco de dados MySQL. Lembre-se de atualizar o caminho para o .csv no CidadeController.java (47)
				</p>
				
				<a href="/install" class="btn btn-success w-25">Continuar</a>
			</div>
			
			
			<div class="row mt-5">
			<hr>
				<p class="lead">Desafio Senior</p>
				<img class="img-fluid w-25" src="senior.png"/>
			</div>
		</div>
	</body>
</html>